In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('/content/Final_DischargeData_Likhu (1).xlsx', sheet_name='Discharge_Data(all)', skiprows=[0])

In [6]:
df.columns

Index(['Date ', 'Sunkoshi(652)', 'Likhu(660)'], dtype='object')

In [7]:
df['Date'] = pd.to_datetime(df['Date '])

In [8]:
df['date'] = pd.to_datetime(df['Date']).dt.strftime('%Y-%b-%d')

# display the modified dataframe
print(df)

           Date   Sunkoshi(652)  Likhu(660)       Date         date
0     1964-01-01            NaN         NaN 1964-01-01  1964-Jan-01
1     1964-01-02            NaN         NaN 1964-01-02  1964-Jan-02
2     1964-01-03            NaN         NaN 1964-01-03  1964-Jan-03
3     1964-01-04            NaN         NaN 1964-01-04  1964-Jan-04
4     1964-01-05            NaN         NaN 1964-01-05  1964-Jan-05
...          ...            ...         ...        ...          ...
19308 2020-12-27          121.0         NaN 2020-12-27  2020-Dec-27
19309 2020-12-28          121.0         NaN 2020-12-28  2020-Dec-28
19310 2020-12-29          120.0         NaN 2020-12-29  2020-Dec-29
19311 2020-12-30          118.0         NaN 2020-12-30  2020-Dec-30
19312 2020-12-31          120.0         NaN 2020-12-31  2020-Dec-31

[19313 rows x 5 columns]

In [10]:
df['date'] = pd.to_datetime(df['date'])

In [11]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

# iterate over each year and save monthly data into separate Excel files
for year in range(1964, 2021):
    year_data = df[df['year'] == year]  # filter data for the current year
    pivot_table = pd.pivot_table(year_data, values='Sunkoshi(652)', index='month', columns=year_data['Date'].dt.day, aggfunc='first').transpose()  # create pivot table for monthly data
    file_name = f'sunkoshi_monthly_data_{year}.xlsx'  # generate file name for the current year
    pivot_table.to_excel(file_name)

In [284]:
data=pd.read_excel('/content/sunkoshi_monthly_data_2020.xlsx')

In [285]:
data.set_index('Date')

,1,2,3,4,5,6,7,8,9,10,11,12
Date,,,,,,,,,,,,
1,122,102.0,91.6,95.4,139,158.0,1281,1940,1052.0,811,262.0,153
2,121,102.0,91.6,95.0,135,154.0,1162,2025,1080.0,773,257.0,153
3,120,99.5,88.7,92.0,133,174.0,1171,2765,1042.0,727,252.0,156
4,126,97.2,89.5,91.2,147,139.0,1320,2076,1069.0,716,248.0,147
5,120,93.3,88.3,92.5,158,166.0,1529,1673,1047.0,711,247.0,148
6,119,92.5,95.0,91.2,161,618.0,1833,2224,1030.0,618,244.0,150
7,118,90.4,98.6,90.4,159,644.0,2263,2043,1040.0,585,232.0,149
8,117,92.9,96.3,89.9,163,533.0,1740,1929,1110.0,581,222.0,147
9,119,93.7,92.5,89.1,138,463.0,2957,1928,1032.0,580,209.0,147
10,115,94.1,89.1,86.6,135,644.0,3811,2953,1096.0,554,204.0,145
11,117,93.7,87.4,85.7,143,721.0,2255,1964,1146.0,527,198.0,140
12,116,92.0,86.6,85.3,135,714.0,2377,2039,1846.0,508,193.0,138
13,115,90.4,85.7,84.9,133,844.0,2416,2183,2162.0,484,188.0,136
14,113,89.9,84.9,99.9,131,993.0,1821,3101,1952.0,473,183.0,133
15,112,89.1,83.2,98.1,129,868.0,1649,2892,1477.0,454,181.0,134
16,113,89.5,82.8,102.0,143,1485.0,2758,2065,1439.0,444,177.0,132
17,123,88.7,84.9,131.0,179,1429.0,2335,1943,1287.0,436,175.0,131
18,171,87.8,84.5,146.0,162,1241.0,2389,1936,1219.0,415,169.0,139
19,126,89.9,82.8,125.0,179,1284.0,1956,1573,1252.0,381,167.0,130
20,119,91.6,84.5,113.0,154,986.0,2853,1717,1110.0,350,166.0,131
21,115,92.5,83.6,114.0,153,1191.0,2404,1797,1050.0,336,162.0,129
22,113,91.6,84.5,138.0,188,1104.0,1810,1642,956.0,327,162.0,131
23,111,89.9,89.9,118.0,192,1364.0,1835,2080,1142.0,317,162.0,130
24,110,88.7,99.0,114.0,206,1295.0,2439,1605,1996.0,309,160.0,125
25,109,90.4,95.9,112.0,214,1318.0,2127,1977,1869.0,303,159.0,123
26,107,98.6,96.3,122.0,232,1353.0,2051,1435,1836.0,296,159.0,124
27,106,99.0,93.7,126.0,450,1236.0,2265,1481,1111.0,285,157.0,121
28,105,95.9,92.0,139.0,558,1157.0,1989,1352,932.0,277,155.0,121
29,104,92.9,91.6,135.0,505,1031.0,1928,1128,887.0,272,155.0,120
30,104,NaN,90.8,125.0,314,1116.0,1785,1146,854.0,269,153.0,118
31,103,NaN,92.9,NaN,171,NaN,2064,1054,NaN,266,NaN,120

In [286]:
col_sum=data.mean(axis=0)
col_max=data.max(axis=0)
d = data.append(col_sum, ignore_index=True)
d=d.append(col_max,ignore_index=True)

<ipython-input-286-e2d335062fab>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d = data.append(col_sum, ignore_index=True)
<ipython-input-286-e2d335062fab>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d=d.append(col_max,ignore_index=True)

In [287]:

d.set_index('Date')

,1,2,3,4,5,6,7,8,9,10,11,12
Date,,,,,,,,,,,,
1.0,122.000000,102.000000,91.600000,95.400000,139.000000,158.000000,1281.0,1940.000000,1052.0,811.000000,262.000000,153.000000
2.0,121.000000,102.000000,91.600000,95.000000,135.000000,154.000000,1162.0,2025.000000,1080.0,773.000000,257.000000,153.000000
3.0,120.000000,99.500000,88.700000,92.000000,133.000000,174.000000,1171.0,2765.000000,1042.0,727.000000,252.000000,156.000000
4.0,126.000000,97.200000,89.500000,91.200000,147.000000,139.000000,1320.0,2076.000000,1069.0,716.000000,248.000000,147.000000
5.0,120.000000,93.300000,88.300000,92.500000,158.000000,166.000000,1529.0,1673.000000,1047.0,711.000000,247.000000,148.000000
6.0,119.000000,92.500000,95.000000,91.200000,161.000000,618.000000,1833.0,2224.000000,1030.0,618.000000,244.000000,150.000000
7.0,118.000000,90.400000,98.600000,90.400000,159.000000,644.000000,2263.0,2043.000000,1040.0,585.000000,232.000000,149.000000
8.0,117.000000,92.900000,96.300000,89.900000,163.000000,533.000000,1740.0,1929.000000,1110.0,581.000000,222.000000,147.000000
9.0,119.000000,93.700000,92.500000,89.100000,138.000000,463.000000,2957.0,1928.000000,1032.0,580.000000,209.000000,147.000000
10.0,115.000000,94.100000,89.100000,86.600000,135.000000,644.000000,3811.0,2953.000000,1096.0,554.000000,204.000000,145.000000
11.0,117.000000,93.700000,87.400000,85.700000,143.000000,721.000000,2255.0,1964.000000,1146.0,527.000000,198.000000,140.000000
12.0,116.000000,92.000000,86.600000,85.300000,135.000000,714.000000,2377.0,2039.000000,1846.0,508.000000,193.000000,138.000000
13.0,115.000000,90.400000,85.700000,84.900000,133.000000,844.000000,2416.0,2183.000000,2162.0,484.000000,188.000000,136.000000
14.0,113.000000,89.900000,84.900000,99.900000,131.000000,993.000000,1821.0,3101.000000,1952.0,473.000000,183.000000,133.000000
15.0,112.000000,89.100000,83.200000,98.100000,129.000000,868.000000,1649.0,2892.000000,1477.0,454.000000,181.000000,134.000000
16.0,113.000000,89.500000,82.800000,102.000000,143.000000,1485.000000,2758.0,2065.000000,1439.0,444.000000,177.000000,132.000000
17.0,123.000000,88.700000,84.900000,131.000000,179.000000,1429.000000,2335.0,1943.000000,1287.0,436.000000,175.000000,131.000000
18.0,171.000000,87.800000,84.500000,146.000000,162.000000,1241.000000,2389.0,1936.000000,1219.0,415.000000,169.000000,139.000000
19.0,126.000000,89.900000,82.800000,125.000000,179.000000,1284.000000,1956.0,1573.000000,1252.0,381.000000,167.000000,130.000000
20.0,119.000000,91.600000,84.500000,113.000000,154.000000,986.000000,2853.0,1717.000000,1110.0,350.000000,166.000000,131.000000
21.0,115.000000,92.500000,83.600000,114.000000,153.000000,1191.000000,2404.0,1797.000000,1050.0,336.000000,162.000000,129.000000
22.0,113.000000,91.600000,84.500000,138.000000,188.000000,1104.000000,1810.0,1642.000000,956.0,327.000000,162.000000,131.000000
23.0,111.000000,89.900000,89.900000,118.000000,192.000000,1364.000000,1835.0,2080.000000,1142.0,317.000000,162.000000,130.000000
24.0,110.000000,88.700000,99.000000,114.000000,206.000000,1295.000000,2439.0,1605.000000,1996.0,309.000000,160.000000,125.000000
25.0,109.000000,90.400000,95.900000,112.000000,214.000000,1318.000000,2127.0,1977.000000,1869.0,303.000000,159.000000,123.000000
26.0,107.000000,98.600000,96.300000,122.000000,232.000000,1353.000000,2051.0,1435.000000,1836.0,296.000000,159.000000,124.000000
27.0,106.000000,99.000000,93.700000,126.000000,450.000000,1236.000000,2265.0,1481.000000,1111.0,285.000000,157.000000,121.000000
28.0,105.000000,95.900000,92.000000,139.000000,558.000000,1157.000000,1989.0,1352.000000,932.0,277.000000,155.000000,121.000000
29.0,104.000000,92.900000,91.600000,135.000000,505.000000,1031.000000,1928.0,1128.000000,887.0,272.000000,155.000000,120.000000
30.0,104.000000,NaN,90.800000,125.000000,314.000000,1116.000000,1785.0,1146.000000,854.0,269.000000,153.000000,118.000000
31.0,103.000000,NaN,92.900000,NaN,171.000000,NaN,2064.0,1054.000000,NaN,266.000000,NaN,120.000000
16.0,116.419355,93.093103,89.635484,107.573333,198.032258,880.766667,2083.0,1924.709677,1270.7,464.032258,191.933333,135.516129
31.0,171.000000,102.000000,99.000000,146.000000,558.000000,1485.000000,3811.0,3101.000000,2162.0,811.000000,262.000000,156.000000

In [288]:
d.to_excel('/content/sample_data/2020.xlsx')

In [304]:
d1=pd.read_excel('/content/sample_data/1968.xlsx')
d2=pd.read_excel('/content/sample_data/1969.xlsx')
d3=pd.read_excel('/content/sample_data/1970.xlsx')
d4=pd.read_excel('/content/sample_data/1971.xlsx')
d5=pd.read_excel('/content/sample_data/1972.xlsx')
d6=pd.read_excel('/content/sample_data/1973.xlsx')
d7=pd.read_excel('/content/sample_data/1974.xlsx')
d8=pd.read_excel('/content/sample_data/1975.xlsx')
d9=pd.read_excel('/content/sample_data/1976.xlsx')
d10=pd.read_excel('/content/sample_data/1977.xlsx')
d11=pd.read_excel('/content/sample_data/1978.xlsx')
d12=pd.read_excel('/content/sample_data/1978.xlsx')
d13=pd.read_excel('/content/sample_data/1980.xlsx')
d14=pd.read_excel('/content/sample_data/1981.xlsx')
d15=pd.read_excel('/content/sample_data/1982.xlsx')
d17=pd.read_excel('/content/sample_data/1984.xlsx')
d18=pd.read_excel('/content/sample_data/1985.xlsx')
d19=pd.read_excel('/content/sample_data/1986.xlsx')
d20=pd.read_excel('/content/sample_data/1987.xlsx')
d21=pd.read_excel('/content/sample_data/1988.xlsx')
d22=pd.read_excel('/content/sample_data/1989.xlsx')
d23=pd.read_excel('/content/sample_data/1990.xlsx')
d24=pd.read_excel('/content/sample_data/1991.xlsx')
d25=pd.read_excel('/content/sample_data/1992.xlsx')
d126=pd.read_excel('/content/sample_data/1993.xlsx')
d27=pd.read_excel('/content/sample_data/1994.xlsx')
d28=pd.read_excel('/content/sample_data/1995.xlsx')
d29=pd.read_excel('/content/sample_data/1996.xlsx')
d30=pd.read_excel('/content/sample_data/1997.xlsx')
d31=pd.read_excel('/content/sample_data/1998.xlsx')
d32=pd.read_excel('/content/sample_data/1999.xlsx')
d32=pd.read_excel('/content/sample_data/2000.xlsx')
d33=pd.read_excel('/content/sample_data/2001.xlsx')
d34=pd.read_excel('/content/sample_data/2002.xlsx')
d35=pd.read_excel('/content/sample_data/2003.xlsx')
d36=pd.read_excel('/content/sample_data/2004.xlsx')
d37=pd.read_excel('/content/sample_data/2005.xlsx')
d48=pd.read_excel('/content/sample_data/2016.xlsx')
d49=pd.read_excel('/content/sample_data/2017.xlsx')
d50=pd.read_excel('/content/sample_data/2018.xlsx')
d51=pd.read_excel('/content/sample_data/2019.xlsx')
d52=pd.read_excel('/content/sample_data/2020.xlsx')

In [305]:
writer = pd.ExcelWriter('flow_data_sunkoshi.xlsx', engine='openpyxl')

# Write each dataframe to a different worksheet.
d1.to_excel(writer, sheet_name='1968')
d2.to_excel(writer, sheet_name='1969')
d3.to_excel(writer, sheet_name='1970')
d4.to_excel(writer, sheet_name='1971')
d5.to_excel(writer, sheet_name='1972')
d6.to_excel(writer, sheet_name='1973')
d7.to_excel(writer, sheet_name='1974')
d8.to_excel(writer, sheet_name='1975')
d9.to_excel(writer, sheet_name='1976')
d10.to_excel(writer, sheet_name='1977')
d11.to_excel(writer, sheet_name='1978')
d12.to_excel(writer, sheet_name='1979')
d13.to_excel(writer, sheet_name='1980')
d14.to_excel(writer, sheet_name='1981')
d15.to_excel(writer, sheet_name='1982')
d17.to_excel(writer, sheet_name='1984')
d18.to_excel(writer, sheet_name='1985')
d19.to_excel(writer, sheet_name='1986')
d20.to_excel(writer, sheet_name='1987')
d21.to_excel(writer, sheet_name='1988')
d22.to_excel(writer, sheet_name='1989')
d23.to_excel(writer, sheet_name='1990')
d24.to_excel(writer, sheet_name='1991')
d25.to_excel(writer, sheet_name='1992')
d27.to_excel(writer, sheet_name='1994')
d28.to_excel(writer, sheet_name='1995')
d29.to_excel(writer, sheet_name='1996')
d30.to_excel(writer, sheet_name='1997')
d31.to_excel(writer, sheet_name='1998')
d32.to_excel(writer, sheet_name='1999')
d33.to_excel(writer, sheet_name='2000')
d34.to_excel(writer, sheet_name='2001')
d35.to_excel(writer, sheet_name='2002')
d36.to_excel(writer, sheet_name='2003')
d37.to_excel(writer, sheet_name='2004')
d48.to_excel(writer, sheet_name='2015')
d49.to_excel(writer, sheet_name='2016')
d50.to_excel(writer, sheet_name='2017')
d51.to_excel(writer, sheet_name='2018')
d51.to_excel(writer, sheet_name='2019')
d52.to_excel(writer, sheet_name='2020')




# Close the Pandas Excel writer and output the Excel file.
writer.close()

In [289]:


# Define the starting year and d value
start_year = 1968
d = 1

# Create an empty list to store the dataframes
dfs = []

# Loop through each year, reading in the corresponding Excel file
for year in range(start_year, start_year + 52):
    filename = f"/content/sample_data/{year}.xlsx"
    df = pd.read_excel(filename)
    df['d'] = d
    df['year'] = year
    dfs.append(df)
    d += 1

# Concatenate the dataframes into a single dataframe
result = pd.concat(dfs)

# Print the first few rows of the result dataframe
print(result.head())

FileNotFoundError: ignored